@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}

@font-face {
  font-family: "Birds of Paradise";
  src: url("/fonts/_BirdsOfParadise.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text-birds-of-paradise {
  font-family: "Birds of Paradise";
}
@font-face {
  font-family: "Europe Grotesk";
  src: url("/fonts/_EuropeGrotesk.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text-europe-grotesk {
  font-family: "Europe Grotesk";
}

@media (max-width: 767px) {
  .train-image {
    object-position: 85% center; /* Adjust as needed */
  }
}
